!!!
%head
  %meta{:name => 'charset', :content => 'utf-8'}
  %title foomoo.de - Leonhard Melzer
  %link{:href => 'http://fonts.googleapis.com/css?family=Vollkorn:italic', :rel => 'stylesheet'}
  :css
    body { font-family: 'Vollkorn', arial, serif; font-style: italic; }
    #wrapper { position: absolute; bottom: 50px; right: 50px; }
    h1 { font-size: 48px }
    h1, h2, p { margin: 0 0 10px }
%body
  #wrapper
    %h1 foomoo.de
    %h2 all new - somewhen soon.
    %p
      follow me on twitter,
      %a{:href => 'http://twitter.com/leomelzer'}
        @leomelzer
