/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: @leomelzer
 * Thank you, http://www.colourlovers.com/palette/1660964/%E2%99%A51%E2%99%A55%E2%99%A51%E2%99%A5
 */

body {
	font: 400 18px/1.5 'Crimson Text', serif;
	text-align: center;
	background: url(../images/pattern.png) left top repeat #fff;
}

header, footer {
	background-color: rgba(237, 9, 72, .7);
	padding: 20px 0;
	color: #fff;
}

h1, h2, h3 {
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 24px;
}
h2, h3 {
	position: relative;
	left: -100px;
	width: 100%;
	padding: 0 100px;
	background-color: rgba(54, 17, 60, .4);
	color: #fff;
	margin-bottom: 10px;
}
strong {
	font-weight: 600;
}

p.get-in-touch {
	position: fixed;
	top: 40%;
	left: 10px;
	width: 110px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
	background-color: rgba(255, 255, 255, .5);
}

p.get-in-touch a {
	display: block;
	text-decoration: none;
}

#main {
	width: 60%;
	max-width: 800px;
	text-align: left;
	margin: 50px auto;
	position: relative;
	text-align: justify;
}

/* shameless rip: http://html5doctor.com/blockquote-q-cite/ */
blockquote::before {
	display: block;
	height: 0;
	content: "“";
	margin-left: -.95em;
	font: italic 400%/1 Cochin, Georgia, "Times New Roman", serif;
}
blockquote {
	padding: 20px 30px;
	margin: 20px 0;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, .3);
	line-height: 1.2;
	-webkit-box-shadow: 0 0 5px rgba(54, 17, 60, .4);
	-moz-box-shadow: 0 0 5px rgba(54, 17, 60, .4);
	box-shadow: 0 0 5px rgba(54, 17, 60, .4);
}
#what-this blockquote, #what-look blockquote {
	margin: 20px 0;
	text-align: center;
	font-weight: 600;
	font-size: 21px;
}
#what-this blockquote::before, #what-look blockquote::before {
	display: none;
}
blockquote footer {
	background-color: transparent;
	padding: 0;
	text-align: right;
	font-weight: 600;
	color: inherit;
}

p, ul, ol {
	margin-bottom: 10px;
}
p {
	text-indent: .7em;
}
p:first-child, h2 + p, h3 + p {
	text-indent: 0;
}

ul, ol {
	margin-left: 3em;
}

section {
	padding-bottom: 20px;
	border-bottom: 10px rgba(255, 255, 44, .8) dashed;
	margin-bottom: 20px;
}

.bored-photos {
	text-align: center;
}
.bored-map {
	margin: 20px 0;
	position: relative;
	padding-bottom: 10px;
}
.bored-map img {
	max-width: 100%;
}

.bored-map, .bored-video {
	border: 5px solid rgba(255, 255, 44, .8);
	background-color: rgba(255, 255, 255, .3);
}

.bored-video {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
	width: 240px;
}
.bored-video p, .bored-map p {
	padding: 5px 10px;
	font-size: 13px;
	line-height: 1.2;
}
.bored-map p {
	font-size: 18px;
}
.bored-map small {
	padding: 0 10px;
	font-size: 13px;
	display: block;
}
.bored-map .map-marker {
	position: absolute;
	display: none;
	background-color: rgba(255, 255, 255, .7);
	padding: 3px 5px;
	font-size: 14px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.bored-map:hover .map-marker {
	display: block;
}
.map-marker.home {
	left: 19%;
	top: 17%;
}
.map-marker.asia {
	right: 8%;
	top: 50%;
}

#random-facts ul {
	background-color: rgba(255, 255, 255, .3);
	line-height: 1.2;
	-webkit-box-shadow: 0 0 5px rgba(54, 17, 60, .4);
	-moz-box-shadow: 0 0 5px rgba(54, 17, 60, .4);
	box-shadow: 0 0 5px rgba(54, 17, 60, .4);
	margin-left: 0;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	list-style-type: none;
	height: 100px;
	width: 100%;
}
#random-facts li {
	padding: 20px 0;
	width: 100%;
	text-align: center;
}
footer a:link, footer a:visited, footer a:hover {
	color: #fff;
}
footer a:hover {
	text-decoration: none;
}

p.signature {
	background: url(../images/signature.png) center center no-repeat;
	height: 142px;
}


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

